html {
	font-size: 20px;
	font-family: "Arial";
	background-color: #FFFFFF;
}

body {
	background-color: #ECEFF1;
	max-width: 960px;
	margin: auto;
}

.conteudo {
	display: table;
}

strong {
	color: #009688;	
}

img {
	display: table-cell;
	border-radius: 50%;
}

.texto {
	display: table-cell;
}